@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.card_container {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  padding: 1rem;
}
.card_container i {
  font-size: 3rem;
}
.card_container h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  text-align: center;
}
.card_container h3 {
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
}
