.shadow_box {
  min-height: 50vh;
  box-shadow: -1px 1px 54px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 1px 54px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 54px 0px rgba(0, 0, 0, 0.75);
  margin-top: -2rem;
  background-color: white;
}
.about h2 {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
}

.about p,
.about li {
  color: rgb(98, 98, 98);
}
